!! .Xresources file - Realist (c) 2023

!! URxvt Colorscheme
*.foreground:   #abb2bf
*.background:   #1e2127
*.cursorColor:  #98c379
*.color0:       #1e2127
*.color8:       #5c6370
*.color1:       #e06c75
*.color9:       #c2636a
*.color2:       #98c379
*.color10:      #7dac5b
*.color3:       #d19a66
*.color11:      #c0854e
*.color4:       #61afef
*.color12:      #4292d5
*.color5:       #c678dd
*.color13:      #b460cc
*.color6:       #56b6c2
*.color14:      #3e9ba6
*.color7:       #abb2bf
*.color15:      #ffffff

!! Xft and font setting
Xft.dpi:            96
Xft.antialias:      1
Xft.rgba:           rgb
Xft.hinting:        true
Xft.hintstyle:      hintfull
Xft.autohint:       0
Xft.lcdfilter:      lcddefault
URxvt.letterSpace:  -1
URxvt.lineSpace:    0
URxvt.allow_bold:   false
URxvt.font:         xft:JetBrains Mono:style=semibold:pixelsize=16:antialias=true:hinting=true

!! URxvt Appearance
URxvt.background:         [80]#031321
URxvt.transparent:        false
URxvt.shading:            70
Rxvt.geometry:            400x400
URxvt.internalBorder:     6
URxvt.scrollTtyOutput:    false
URxvt.scrollWithBuffer:   true
URxvt.scrollTtyKeypress:  true
URxvt.cursorBlink:        true
URxvt.cursorUnderline:    false
URxvt.saveline:           8192
URxvt.scrollBar:          false
URxvt.scrollBar_right:    true
URxvt.urgentOnBell:       true
URxvt.depth:              32
URxvt.iso14755:           false
URxvt.fading:             20
URxvt.fadeColor:          #1e2127

URxvt.perl-lib:                   /usr/lib64/urxvt/perl
URxvt.perl-ext-common:            default,match,clipboard,url-select,font-size

URxvt.copyCommand:                xclip -i -selection clipboard
URxvt.pasteCommand:               xclip -o -selection clipboard

URxvt.keysym.M-c:                 perl:clipboard:copy
URxvt.keysym.M-v:                 perl:clipboard:paste
URxvt.keysym.M-C-v:               perl:clipboard:paste_escaped

!! URL open in default browser
URxvt.url-launcher:               /usr/bin/xdg-open
URxvt.underlineURLs:              true
URxvt.matcher.button:             1
URxvt.colorUL:                    #61afef

!! Font sizing
URxvt.keysym.C-Up:                perl:font-size:increase
URxvt.keysym.C-Down:              perl:font-size:decrease
URxvt.keysym.C-equal:             perl:font-size:reset

!! Word tabing
URxvt.keysym.C-Left:              \033[1;5D
URxvt.keysym.C-Right:             \033[1;5C

